<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--Data Locations-->
    <add key="data.input.location" value="C:\GAClassSchedule\data\"/>
    <add key="data.output.location" value="C:\GAClassSchedule\data\"/>

    <!--Excel Filenames-->
    <add key="data.output.fileName" value="Ders Programları.xlsx"/>
    <add key="data.input.fileName.courses" value="Dersler.xlsx"/>
    <add key="data.input.fileName.courseClasses" value="Ders Oturumları.xlsx"/>
    <add key="data.input.fileName.prelectors" value="Öğretim Görevlileri.xlsx"/>
    <add key="data.input.fileName.rooms" value="Sınıflar.xlsx"/>
    <add key="data.input.fileName.studentGroups" value="Öğrenci Grupları.xlsx"/>

    <!--Algorithm Parameters-->
    <add key="algorithm.numberOfChromosomes" value="100"/>
    <add key="algorithm.trackBest" value="5"/>
    <add key="algorithm.replaceByGeneration" value="8"/>
    <add key="algorithm.numberOfCrossoverPoints" value="2"/>
    <add key="algorithm.mutationSize" value="2"/>
    <add key="algorithm.crossoverProbability" value="80"/>
    <add key="algorithm.mutationProbability" value="3"/>
    
  </appSettings>
</configuration>